<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>CheckList App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="checklistApp" layout="row" ng-controller="CheckListController as ctrl" ng-cloak >

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="ctrl.toggleList()" aria-label="Show Task List"
      md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h3 style="font-family:monospace;">Team Members</h3>
    </md-toolbar>

    <md-list>
        <md-list-item ng-click="ctrl.selectAll()">
        
           <md-button ng-class="{'selected' : user === ctrl.selectedUser }">
           Show All
          </md-button>
        
      </md-list-item>
      <md-list-item ng-repeat="user in ctrl.users" ng-click="ctrl.setUserTasks(user.tasks)">
          <md-button ng-click="ctrl.selectUser(user)" ng-class="{'selected' : user === ctrl.selectedUser }">
            <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
            {{user.name}}
          </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button id="main" class="menu" hide-gt-sm ng-click="ctrl.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h3 style="font-family:monospace;">Today's Tasks</h3>
    </md-toolbar>

    <md-content flex id="content">
        <div flex ng-cloak layout layout-wrap >
             <md-card ng-click="ctrl.showTaskDetails($event,task)" ng-repeat="task in ctrl.tasks" flex="30" class="fade" ng-class="{type1:task.type==1,type2:task.type==2,type3:task.type==3,type4:task.type==4}">
                <md-card-title style="padding-left: 2rem;padding-right: 2rem;" >
                    <md-card-title-text >
                        <span  class="md-headline task-head ">
                            <span ng-class="{'fa fa-sun-o':task.type==1,'fa fa-child':task.type==2,'fa fa-futbol-o':task.type==3,'fa fa-bicycle':task.type==4}" class="task-icon"></span>
                        
                            {{task.name}}</span>
                        <span class="md-subhead task-text">{{task.text}}</span>
                    </md-card-title-text>
                    <md-card-title-media layout="row" layout-align="center center">
                        <div class="fa fa-check check-icon" aria-hidden="true"  ng-click="ctrl.openFromLeft( task)"></div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </div>

      </md-content>

  </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <script src="./src/checkList/CheckList.js"></script>
    <script src="./src/checklist/CheckListController.js"></script>
    <script src="./src/checklist/DataService.js"></script>

    <script type="text/javascript">

          angular
              .module('checklistApp', ['ngMaterial', 'checklist'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('deep-purple')
                          .accentPalette('amber');

              });

    </script>

  </body>
</html>
