

<md-dialog aria-label="User Stats"  ng-cloak style="width:500px;">
   
    <md-dialog-content>
      <div class="md-dialog-content">
       <div>
           <h1 style="    font-family: monospace;
    border-bottom: 1px solid #673AB7;
    color: #673AB7;">User Details</h1>
       </div>
        <canvas id="pie" class="chart chart-pie"
  chart-data="data" chart-labels="labels">
</canvas> 
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
     
      <span flex></span>
     
      <md-button ng-click="cancel()" style="margin-right:20px;">
        close
      </md-button>
    </md-dialog-actions>
</md-dialog>