<style>

.background-image {
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}    
</style>

<md-dialog aria-label="Task Details"  ng-cloak style="min-width:500px;max-width:700px;min-height:600px;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="font-family:monospace;">User Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content >
      <div class="md-dialog-content" layout="column" style="z-index:2;">
          <div  class="background-image" style="background-image:url('./assets/images/large/{{user.image}}');" >
          </div>
        <span class="md-headline">
                      
            {{user.name}}</span>
          
        <span class="md-subheader">
           {{user.team}}
         
        </span>
      </div>
    </md-dialog-content>
</md-dialog>