<md-dialog aria-label="Task Details"  ng-cloak style="min-width:500px;max-width:700px">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Task Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>
                      
            {{user.name}}</h2>
        <p>
         {{task.text}}
        </p>
        <img style="margin: auto; max-width: 100%;" alt="User Image" src="./assets/images/{{user.image}}">
        <h3>Details:</h3>
        <p>
         {{task.content}}
        </p>
        <p>
        
        </p>
     
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Close
      </md-button>
    </md-dialog-actions>
</md-dialog>