<style>

.background-image {
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
.user-name{
      color: white;
    font-size: 2rem;
    font-family: fantasy;
    border-bottom: 1px solid white;
    padding-bottom: .5rem;
}
.team-name{
     color: white;
    font-family: Raleway;
}  
.about{
  padding-top: 2rem;
    color: #A28F8F;
    width: 50%;
}
</style>

<md-dialog aria-label="Task Details"  ng-cloak style="width:550px;height:350px;">
    <md-dialog-content   class="md-dialog-content" layout="column" class="background-image" style="
  height: 400px;background-image:url('./assets/images/large/{{user.image}}');" >
      
        <span class="md-headline user-name">{{user.name}}</span>
          
        <span class="team-name">
           {{user.team}}
         
        </span>
        
        
          <span class="about" >  
            {{user.info}}
            
          </span>
    </md-dialog-content>
</md-dialog>