/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

.check-icon{
    font-size : 2rem;
}
md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
  height:70px;;
}

md-icon.avatar {
  margin-right: 20px;
}

 .selected {
    color: #03a9f4;
    background-color: #ddd; 
  }


button#main {
  margin-bottom: 10px;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-list-item {
  overflow: hidden;
}

/* Primary content area */


#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}


#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}


/* Utils */

/* Typography support coming in 0.8.0 */

.avatar {
    position: relative;
    width: 54px;
    height: 54px;
    box-shadow: 1px 1px 1px 1px #8E7964;
    border-radius: 15%;
    display: inline-block;
    overflow: hidden;
    margin: .3rem;
    vertical-align: middle;

}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
  color: white;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
    background-color: #689F38; 
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    background-color: #689F38; 
  opacity: 0;
}
.type1{
    background-color:  #00AA7B;
}
.type2 {
    background-color: #FF7A5A;
}
.type3{
    background-color: #009AAA;
}
.type4{
    background-color: #FFB85F;
}
.task-head{
    font-family: Raleway;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}
.task-text{
    font-weight: bold;
    font-family: cursive;
}
.task-icon{
    font-size: 2rem;
}
.userInfo-icon{
    font-size:1.5rem;
    color: #757573;
}